/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-left: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
