<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome to Your Day App!</span>
  <span class="example-spacer"></span>
  <app-auth-button></app-auth-button>
</mat-toolbar>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <div *ngFor="let link of links">
  <a mat-tab-link *ngIf="!link.authOnly || link.authOnly && (userService.isAuthenticated() | async) === true"
  (click)="activeLink = link"
  [active]="activeLink == link" routerLink="{{link.url}}"> {{link.url}} </a>
  </div>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<router-outlet></router-outlet>
